{% extends 'base.html' %}

{% load pages %}
{% load candy %}

{% block title %}ByHands.ru Сотрудничество{% endblock %}

{% block left_navigation %}{% categories_tree '' %}{% endblock %}

{% block content %}
	<h2>Сотрудничество</h2>
	
	<h3>Ваши работы на ByHands.ru</h3>
	
	<p>В каталоге ByHands.ru выкладываются работы мастеров, занимающихся самыми разными
	видами творчества, проживающие в разных городах.</p>
	
	<p>Если вы хотите присоединиться к нашей творческой компании, просто заполните форму,
	которая находится немного ниже, чтобы мы узнали о вас и о том, чем вы занимаетесь,
	или присылайте информацию о себе в свободной форме на <a href="mailto:info@byhands.ru">info@byhands.ru</a>.</p>

	<p>Мы хотим заранее предупредить, что перед тем как попасть в каталог, фотографии работ
	обрабатываются и модерируются ( исключительно по субъективному мнению администратора сайта).
	Это делается для того, чтобы каталог "не засорялся" "ненужными" и некачественными фотографиями.
	Надеемся, что вы отнесетесь к этому с пониманием и без обид.</p>
	
	<h3>Авторство.</h3>
	
	<p>Для каждой работы в каталоге ( при желании ) указывается автор. Список всех авторов есть
	в соответвующем разделе сайта.</p>
	
	<h3>Хотите поделиться своими знаниями и умениями?</h3>
	
	<p>Помимо того, что вы можете выставить свои работы в каталоге, вы можете подготовить
	материал для раздела "Уроки". Это может быть описание процесса создания какой-нибудь
	интересной вещи, фото- или видеоматериал.</p>
	
	<h3>Анкета нового автора.</h3>
	
	<form id="profile" action="#form" method="post" style="margin-top: 20px;">
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<a name="form" style="color: black;"><label for="name">Ваше имя</label></a>
			{{ form.name }}
			<span class="error">{{ form.errors.name.as_text|safe|cut:"*" }}</span>
		</div>
		
		<div {% if form.errors.city %}class="erroneus"{% endif %}>
			<label for="city">Город, в котором вы живете</label>
			{{ form.city }}
			<span class="error">{{ form.errors.city.as_text|safe|cut:"*" }}</span>
		</div>
		
		{% for error in form.non_field_errors %}
			<span class="error">{{ error|safe }}</span>
		{% endfor %}
		
		<div {% if form.errors.icq %}class="erroneus"{% endif %}>
			<label for="icq">ICQ</label>
			{{ form.icq }}
			<span class="error">{{ form.errors.icq.as_text|safe|cut:"*" }}</span>
		</div>
		
		<div {% if form.errors.email %}class="erroneus"{% endif %}>
			<label for="email">Ваш email</label>
			{{ form.email }}
			<span class="error">{{ form.errors.email.as_text|safe|cut:"*" }}</span>
		</div>
		
		<div {% if form.errors.phone %}class="erroneus"{% endif %}>
			<label for="phone">Можно еще телефон оставить</label>
			{{ form.phone }}
			<span class="error">{{ form.errors.phone.as_text|safe|cut:"*" }}</span>
		</div>
		
		<div {% if form.errors.craft %}class="erroneus"{% endif %}>
			<label for="craft">Коротко о том, что вы можете</label>
			{{ form.craft }}
			<span class="error">{{ form.errors.craft.as_text|safe|cut:"*" }}</span>
		</div>
		
		<div>
			<label for="is_customable">А на заказ что-то сможете?</label>
			{{ form.is_customable }}
		</div>
		
		<div id="buttons">
				<span class="button">
					<input type="submit" type="submit" value="Отправить" />
				</span>
		</div>
	</form>
{% endblock %}
