.comment { font-size: 0.7em; color: #c4c3bc; }

/* ARICLES LIST */
ul.articles li { margin-top: 24px; }
	ul.articles li h3 a { font-weight: normal; font-size: 1.1em; }
	ul.articles li p { margin-top: 7px; }

/* ARTICLE DETAIL */
div.article { margin-top: 27px; }

/* TAGS BLOCK */
div.tags { margin-top: 20px;}
	div.tags a { font-size: 1.1em; margin-left: 10px; }

