/*---- required field -----*/
span.required { color: #fc5013; }

span.error { padding: 0 0 5px 150px; color:#fc5013; }

input, textarea, select {
	border: 1px solid #e7990e;
	margin: 0;
	color: #3e3838;
	background-color: #ffffff;
	font-family: Verdana, Arial;
	padding: 2px; margin: 5px 0 0 0;
}


label { float: left; text-align: right;  margin: 0 10px 0 0; padding: 5px 0 0 0;}

textarea { padding: 5px; font-size: 12px;}

input, select {
	font-size: 0.9em;
	height: 20px;
}

.boxy-content input[type="button"], .boxy-content input[type="submit"] {
	 width: 60px; background-color: #f4eec0;
}

.boxy-content .question p a { font-size: 14pt; }

span.button {
	background: transparent url('../images/bg_button_end.gif') no-repeat scroll top right;
	display: block;
    float: right;
    height: 36px;
    
    margin-right: 9px;
    padding-right: 9px; /* sliding doors padding */
   
    	font-size: 14px;
	color: #3e3838;	
    text-decoration: none;
}

span.button input {
    background: transparent url('../images/bg_button.gif') no-repeat;
    display: block;
	height: 36px;
    padding: 0 2px 5px 9px; margin: 0;
    border: 0;
}

#search_form input { width: 120px; }
#search_form input#find_button { width: 54px;  margin: 0; padding: 0; border: 0; float: right;}

.action-note { font-size: 1.4em; margin-top: 20px; }

#order-form label { width: 140px; }
#order-form input { width: 300px;  }

.comment { font-size: 7pt; line-height: 7pt; }
