<h2 style="margin-top: 40px;">Осталось внимательно заполнить форму:</h2>
<!--<p>Определите параметры доставки продукта. После подтверждения заказа с вами
свяжутся по предложенному контактному телефону.</p>-->

<div id="order-form" >
	<form action="" method="post">
		{% csrf_token %}
		
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="name">
			<span class="required">*</span> Вас зовут:
			<span class="comment">(Имя и Фамилия)</span>
			</label><br/>
			<!--<input type="text" name="name" value="" /><br/>
			<label for="name"><span class="required">*</span>На чье имя доставляем?</label>-->
			{{ form.name }}
			<span class="error">{{ form.errors.name.as_text|safe|cut:"*" }}</span>
		</div>

		<div {% if form.errors.name %}class="erroneus"{% endif %} >
			<!--<label for="email"><span class="required">*</span>E-mail</label>-->
			<label for="email"><span class="required">*</span> E-mail:</label><br/>
			{{ form.email }}
			<span class="error">{{ form.errors.email.as_text|safe|cut:"*" }}</span>
			
			{% if auth_error %}<span class="error">
				Вы уже регистрировались у нас. Пожалуйста авторизуйтесь, чтобы
				воспользоваться этим email.
			</span>{% endif %}
		</div>
		
		{% comment %}
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="index"><span class="required">*</span> Индекс:</label><br/>
			<input type="text" name="index" value="" style="width: 70px;"/>
			<span class="error">{{ form.errors.zip.as_text|safe|cut:"*" }}</span>
		</div>
		{% endcomment %}

		<div {% if form.errors.name %}class="erroneus"{% endif %}">
			
			<label for="city"><span class="required">*</span> Город:</label><br/>
			{{ form.city }}
			
			<br/><span class="error">{{ form.errors.zip.as_text|safe|cut:"*" }}</span>
		</div>
		
			
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="address"><span class="required">*</span> Адрес:</label><br/>
			{{ form.address }}
			
			{% if form.errors.address %}
				<span class="error">{{ form.errors.address.as_text|safe|cut:"*" }}</span>
			{% endif %}
		</div>
	
	
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<!--<label for="phone"><span class="required">*</span>Контактный телефон</label>-->
			<label for="pone">
				<span class="required">*</span> Номер телефона:
				<span class="comment">например 89011234567</span>
			</label><br/>
			
			{{ form.phone }}
			
			{% if form.errors.phone %}
				<span class="error">{{ form.errors.phone.as_text|safe|cut:"*" }}</span>
			{% endif %}
		</div>
		
			
		
		<div id="buttons" style="padding-left: 20px;">
			<span class="button">
				<input type="submit" type="submit" value="Подтверждаю заказ" style="width: 162px;"/>
			</span>
		</div>
		
</form>
</div>
