<h2 style="margin: 40px 0 30px 0;">Информация о доставке:</h2>

<div id="order-form" >
	<form action="" method="post">
		{% csrf_token %}
		
		<div class="radio-wrapper">
			<label><span class="required">*</span> Способ доставки</label><br/>
			
			<input type="radio" id="delivery_by_0" value="post" name="delivery_by" {% if delivery == deliveries.post %}checked{% endif %}>
			<label for="delivery_by_0">Почта России - <strong>{{ deliveries.post }} руб</strong></label>
			<p>Отправка наложенным платежом. Срок доставки 1-2 недели, самовывоз с почтового
			отделения. Оплата заказа при получении посылки.</p><br/>
			
			<input type="radio" id="delivery_by_1" value="ems" name="delivery_by" {% if delivery == deliveries.ems %}checked{% endif %}>
			<label for="delivery_by_1">EMS - <strong>{{ deliveries.ems }} руб</strong></label>
			<p>Срок прибытия заказа 3-5 дней, доставка на дом. Оплатить заказ необходимо
			полностью до его отправки.</p><br/>
			
			<input type="radio" id="delivery_by_2" value="pek" name="delivery_by" {% if delivery == deliveries.pek %}checked{% endif %}>
			<label for="delivery_by_2">Первая Экспедиционная Компания - <strong>{{ deliveries.pek }} руб</strong></label>
			<p>Срок доставки 3-5 дней. Самовывоз из офиса ПЭК в вашем городе. Оплатить
			заказ необходимо полностью до его отправки.
			<a href="http://www.pecom.ru/ru/services/send/warehouses/" target="_blank">Проверить наличие офиса в своем городе.</a></p>
			
			<input type="radio" id="delivery_by_3" value="self" name="delivery_by" {% if delivery == deliveries.self %}checked{% endif %}>
			<label for="delivery_by_3">Самовывоз - <strong>{{ deliveries.self }} руб</strong></label>
			<p>Если вы находитесь в Ростове-на-Дону то получить заказ можно заехав к нам.</p>
		</div>
		
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="name">
			<span class="required">*</span> Вас зовут:
			<span class="comment">(Имя и Фамилия)</span>
			</label><br/>
			<!--<input type="text" name="name" value="" /><br/>
			<label for="name"><span class="required">*</span>На чье имя доставляем?</label>-->
			{{ form.name }}
			<span class="error">{{ form.errors.name.as_text|safe|cut:"*" }}</span>
		</div>

		<div {% if form.errors.name %}class="erroneus"{% endif %} >
			<!--<label for="email"><span class="required">*</span>E-mail</label>-->
			<label for="email"><span class="required">*</span> E-mail:</label><br/>
			{{ form.email }}
			<span class="error">{{ form.errors.email.as_text|safe|cut:"*" }}</span>
			
			{% if auth_error %}<span class="error">
				Вы уже регистрировались у нас. Пожалуйста авторизуйтесь, чтобы
				воспользоваться этим email.
			</span>{% endif %}
		</div>
		
		{% comment %}
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="index"><span class="required">*</span> Индекс:</label><br/>
			<input type="text" name="index" value="" style="width: 70px;"/>
			<span class="error">{{ form.errors.zip.as_text|safe|cut:"*" }}</span>
		</div>
		{% endcomment %}

		<div {% if form.errors.name %}class="erroneus"{% endif %}">
			
			<label for="city"><span class="required">*</span> Город:</label><br/>
			{{ form.city }}
			
			<br/><span class="error">{{ form.errors.zip.as_text|safe|cut:"*" }}</span>
		</div>
		
			
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<label for="address"><span class="required">*</span> Адрес:</label><br/>
			{{ form.address }}
			
			{% if form.errors.address %}
				<span class="error">{{ form.errors.address.as_text|safe|cut:"*" }}</span>
			{% endif %}
		</div>
	
	
		<div {% if form.errors.name %}class="erroneus"{% endif %}>
			<!--<label for="phone"><span class="required">*</span>Контактный телефон</label>-->
			<label for="pone">
				<span class="required">*</span> Номер телефона:
				<span class="comment">например 89011234567</span>
			</label><br/>
			
			{{ form.phone }}
			
			{% if form.errors.phone %}
				<span class="error">{{ form.errors.phone.as_text|safe|cut:"*" }}</span>
			{% endif %}
		</div>
		
		<div id="buttons" style="padding-left: 20px;">
			<span class="button">
				<input type="submit" type="submit" value="Подтверждаю заказ" style="width: 162px;"/>
			</span>
		</div>
		
</form>
</div>
