{% extends 'base.html' %}

{% load candy %}
{% load dates %}

{% block css %}
	<link rel="stylesheet" href="{{ media_url }}/css/boxy.css" type="text/css" media="screen" title="no title" charset="utf-8" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.boxy.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.keyfilter.min.js"></script>
	<script type="text/javascript" src="{{ media_url }}/js/candy.js"></script>
	
	<script type="text/javascript">
		authURL  = '/accounts/login';
		orderURL = '{% url candy-create-order %}';
		
		$(document).ready(function() {
			$('.quantity input').keyfilter(/[\d]/);
			$('#continue').click(function() { window.location='{% url candy %}'; })
			
			Candy.bindCartEvents(
				$('#cart tbody'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ }
			);
			
			Candy.bindOrderEvents($('#make-order'), $('#cart tbody'));
		});
	</script>
{% endblock %}

{% block cart-info %}{% endblock %}

{% block column_right %}
	{% categories_tree 0 %}
	{% orders_preview 5 request.user.id %}
{% endblock %}

{% block content %}
	{% if request.session.cart %}
		<h2>В вашей корзине сейчас:</h2>
		
		<form action="{% url candy-update-cart %}" method="post">
			<table id="cart" class="order_list" cellspacing="0">
				<tbody>
					{% for id, item in request.session.cart.iteritems %}<tr id="i{{ id }}" {% cycle 'class="odd"' '' %}>
						<td width="30%" class="title">
							{{ forloop.counter }}.&nbsp;
							<a href="{% url candy-product category=item.category.all.0.slug, product=item.slug %}" class="title">
								"{{ item.title|capfirst }}"
							</a>
						</td>
						
						<td class="quantity" width="17%">
							<img class="ajax-loader" src="{{ media_url }}/images/ajax-loader.gif" />
							<input type="text" name="quantity" value="{{ item.quantity }}" size="2"/> шт.
						</td>
						
						<td width="17%">Цена: {{ item.price }} руб</td>
						
						<td class="comments" width="44%">
							<img class="ajax-loader" src="{{ media_url }}/images/ajax-loader.gif" style="float: left;" />
							<textarea cols="30" rows="4" style="resize: none;">{{ item.comments }}</textarea>
						</td>
						
						<td width="7%" class="delete">
							<img class="ajax-loader" src="{{ media_url }}/images/ajax-loader.gif" />
							<a class="remove remove-from-cart" href="{% url candy-remove-item id=id %}"><img src="{{ media_url }}/images/cart_delete.gif" title="Корзина" /></a>
						</td>
					</tr>{% endfor %}
					
				</tbody>
			</table><br/>
			
			<div class="order_bottom">
				<div id="total""><strong>ИТОГО</strong>: {{ total|floatformat:"1" }} руб</div>
				
				<div id="buttons">
					<!--<input id="continue" type="image" src="{{ media_url }}/images/continue_shopping.gif" class="button" value="< Заказать еще "/>-->
					
					<a class="button" id="make-order" href="#"><span>оформить заказ </span></a>
					<a class="button" id="continue" href="#"><span>заказать ещё</span></a>
					
					<!--<input id="make-order" type="image" src="{{ media_url }}/images/place_order.gif" class="button" value=" Оформить заказ >" />-->
					<img class="ajax-loader" src="{{ media_url }}/images/ajax-loader.gif" style="padding-bottom: 14px;margin: 0px;" />
				</div>
			</div>
		</form>
	{% else %}
		<p style="font-size: 1.4em"><strong>Корзина пуста</strong><br/><br/>
		А ведь у нас можно <a href="{% url candy %}">купить что-то интересное</a></p>
	{% endif %}
{% endblock %}
