{% extends 'base.html' %}

{% load pages %}
{% load candy %}

{% block title %}{% if TITLE %}
	{{ TITLE }}
{% else %}
	Магазин изделий ручной работы - {{ category.title }}
{% endif %}{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart span'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ 'simple': 1, 'csrfmiddlewaretoken': $('#csrf-token-wrapper div input').val() }
			);
		});
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree category %}{% endblock %}

{% block content %}
		<ul id="section_nav">{% category_parents category %}</ul>
	{% if object_list %}
		<div style="clear: both;"></div>
		
		{% ifnotequal object_list.count 1 %}
			{% ifnotequal object_list.count 2 %}{% if page_obj.has_other_pages %}
				<div class="pages">{% pages paginator page_obj request.path %}</div>
			{% endif %}{% endifnotequal %}
		{% endifnotequal %}
		
		<div class="product_list">{% with object_list as products %}
			{% include 'candy/_products.html' %}
		{% endwith %}</div>
		
		{% if page_obj.has_other_pages %}
			<div class="pages">{% pages paginator page_obj request.path %}</div>
		{% endif %}
	{% else %}
		<h3 class="empty">Категория пока пуста</h2>
	{% endif %}
{% endblock %}
