{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block css %}
	<link rel="stylesheet" href="{{ media_url }}css/boxy.css" type="text/css" media="screen" title="no title" charset="utf-8" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}js/lib/jquery.boxy.js"></script>
	<script type="text/javascript" src="{{ media_url }}js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart span'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ 'simple': 1 }
			);
		});
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>На это стоит обратить внимание</h2>
	
	<div class="product_list">{% with featured_items as products %}
		{% include 'candy/_products.html' %}
	{% endwith %}</div>
	
	<h3>Кто мы.</h3>
	
	<p><a href="http://byhands.ru">ByHands.ru</a> - онлайн-магазин ручной работы и сборник несложных уроков рукоделия.
	Здесь вы можете купить оригинальные подарки ручной работы,
	авторские интересные творения и просто вещи для хорошего настроения.</p>
	<p> Для всех, кто любит и ценит handmade.</p>
{% endblock %}
