{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block css %}
	<link rel="stylesheet" href="{{ media_url }}css/boxy.css" type="text/css" media="screen" title="no title" charset="utf-8" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}js/lib/jquery.boxy.js"></script>
	<script type="text/javascript" src="{{ media_url }}js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart span'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ 'simple': 1 }
			);
		});
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>На это стоит обратить внимание</h2>
	
	<div class="product_list">{% with featured_items as products %}
		{% include 'candy/_products.html' %}
	{% endwith %}</div>
	
	<h3>Интернет магазин ByHands.ru.</h3>
	
	<p><a href="http://byhands.ru">ByHands.ru</a> - онлайн-магазин бижутерии, аксессуаров, игрушек и одежды
	ручной работы. Вы всегда можете купить у нас подходящий оригинальный подарок для ваших близких и друзей.</p>
	
	<p>Кроме того - наш ресурс предлагает несложные уроки рукоделия, по которым вы сможете сделать для себя
	интересные и неповторимы украшения, бижутерию и аксессуары, смастерить мягкую или валяную игрушку.</p>
	
	<p> Для всех, кто любит и ценит handmade.</p>
{% endblock %}
