{% extends 'base.html' %}

{% load candy %}

{% block title %}{% if TITLE %}
	{{ TITLE }}
{% else %}
	Заказ подтвержден!
{% endif %}{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.keyfilter.min.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () { $('#phone').keyfilter(/[\d]/); });
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Спасибо за ваш заказ!</h2>
	
	<p>Вы оформили заказ (#{{ order.id }})
	на общую сумму <strong>{{ order.sum }} р.</strong> Теперь необходимо 
	определить условия оплаты и получения заказа. Мы свяжемся с вами по телефону
	<strong>{{ order.phone }}</strong> или по email <strong>{{ order.email }}</strong></p>
	
	{% if not request.is_authenticated %}<p>
		Чтобы отслеживать состояние вашего заказа активируйте вашу учетную запись на
		<a href="http://byhands.ru">ByHands</a>.
	</p>{% endif %}
{% endblock %}
