{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block title %}ByHands.ru {{ product.title }}{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ media_url }}js/lib/jquery.fancybox.js"></script>
	<script type="text/javascript" src="{{ media_url }}js/lib/jquery.boxy.js"></script>
	
	<script type="text/javascript" src="{{ media_url }}js/candy.js"></script>
	
	<script type="text/javascript">	
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart span'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ 'simple': 1 }
			);
			
			$('a.group').fancybox({
				'enableEscapeButton': true,
				'hideOnContentClick': false,
			});
		});
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree category %}{% endblock %}

{% block content %}
	<ul id="section_nav">{% category_parents category product %}</ul>
	
	<div style="clear: both;"></div>
	
	<div id="i{{ product.id }}" class="product_desc">
		{% if product.photos.all %}{% with product as object %}
			{% include '_gallery.html' %}
		{% endwith %}{% endif %}
		
		<div class="desc">
			<a href="{% url candy-product category=product.category.all.0.slug, product=product.slug %}" class="title">
				{{ product.title|lower|capfirst }}
			</a><br/><br/>
			
			{% if product.author.first_name or product.author.last_name %}
				 <span style="font-size: 12px; font-weight: bold;">Автор</span>: {{ product.author.first_name }} {{ product.author.last_name }}<br/><br/>
			{% endif %}
			
			{% if product.madeof %}<span style="font-size: 12px; font-weight: bold;">Материал:</span> {{ product.madeof }}<br/><br/>{% endif %}
			{% if product.size %}<span style="font-size: 12px; font-weight: bold;">Размер:</span> {{ product.size }}<br/><br/>{% endif %}
			
			{{ product.description|safe }}<br/><br/>
			<span style="font-size: 12px; font-weight: bold;">Цена:</span> {{ product.price }} p.<br/><br/>
			
			<img class="ajax-loader" src="{{ media_url }}images/ajax-loader.gif" />
			
			<a id="b{{ product.id }}" href="{% url candy-add-item id=product.id %}" class="add-to-cart">
				<img src="{{ media_url }}images/to_cart.gif" />
			</a>
		</div>
	</div>
{% endblock %}
