{% extends 'base.html' %}

{% load dates %}
{% load candy %}

{% block title %}{% if TITLE %}
	{{ TITLE }}
{% else %}
	{{ category }} - {{ product.title }}
{% endif %}{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.fancybox.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.boxy.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/candy.js"></script>
	<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?10" charset="windows-1251"></script>
	
	<script type="text/javascript">
		$(document).ready(function () {
			Candy.bindCartEvents(
				$('#cart span'),
				$('.add-to-cart'),
				$('.remove-from-cart'),
				$('.clear-cart'),
				{ 'simple': 1, 'csrfmiddlewaretoken': $('#csrf-token-wrapper div input').val() }
			);
			
			$('a.group').fancybox({
				'enableEscapeButton': true,
				'hideOnContentClick': false
			});
		});
	</script>
{% endblock %}

{% block left_navigation %}{% categories_tree category %}{% endblock %}

{% block content %}
	<ul id="section_nav">{% category_parents category product %}</ul>
	
	<div style="clear: both;"></div>
	
	<div id="i{{ product.id }}" class="product_desc">
		{% if product.photos.all %}{% with product as object %}
			{% include '_gallery.html' %}
		{% endwith %}{% endif %}
		
		<div class="desc">
			<a href="{% url candy-product category=product.category.all.0.slug, product=product.slug %}" class="title">
				{{ product.title|lower|capfirst }}
			</a><br/><br/>
			
			{% if product.author.first_name or product.author.last_name %}
				 <span style="font-size: 12px; font-weight: bold;">Автор</span>: {{ product.author.first_name }} {{ product.author.last_name }}<br/><br/>
			{% endif %}
			
			{% if product.is_instore %}
				<span style="font-size: 12px; font-weight: bold;">Есть в наличии!</span><br/><br/>
			{% else %}
				{% if product.ready_in %}<span style="font-size: 12px; font-weight: bold;">Дней на изготовление</span>: {{ product.ready_in }}<br/><br/>{% endif %}
			{% endif %}
			
			{% if product.madeof %}<span style="font-size: 12px; font-weight: bold;">Материал:</span> {{ product.madeof }}<br/><br/>{% endif %}
			{% if product.size %}<span style="font-size: 12px; font-weight: bold;">Размер:</span> {{ product.size }}<br/><br/>{% endif %}
			
			{{ product.description|safe }}<br/><br/>
			
			<script type="text/javascript"><!--
				document.write(VK.Share.button(false,{type: "button", text: "Рассказать друзьям"}));
			--></script>
			
			<br/>
			
			<span style="font-size: 12px; font-weight: bold;">Цена:</span> {{ product.price }} p.<br/><br/>
			
			<img class="ajax-loader" src="{{ STATIC_URL }}images/ajax-loader.gif" />
			
			<a id="b{{ product.id }}" href="{% url candy-add-item id=product.id %}" class="add-to-cart">
				<img src="{{ STATIC_URL }}images/to_cart.gif" />
			</a>
		</div>
	</div>
{% endblock %}
