{% extends 'base.html' %}

{% load candy %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<form action="" style="width: 270px; margin-left: 20%;" method="post">
		 
		<div>
			<label for="username" style="float: left;"><h3>Email или логин</h3></label>
			<input id="name" name="username" type="text" style="width: 270px;" />
			{% if form.errors %}<span class="error">Неверные реквизиты</span>{% endif %}
		</div>
		
		<div style="margin-top: 10px;">
			<label for="password"><h3>Пароль</h3></label>
			<input id="password" name="password" type="password" style="width: 270px;" />
		</div>
		
		<div align="right" style="margin: 15px -15px 20px 0;">
			<span class="button"><input type="submit" value="Войти"></span>
		</div>
	</form><br/><br/>
	
	<a href="{% url recover %}" style="margin-left: 20%;">Забыли пароль?</a>
{% endblock %}

