{% extends 'base.html' %}

{% load candy %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<form action="" style="width: 280px; margin-left: 20%;" method="post">
		 
		<div>
			<label for="username" style="">E-mail или логин</label>
			<input id="name" name="username" type="text" style="width: 270px;" /><br/>
			{% if form.errors %}<span class="error" style="padding: 0px;">Неверные реквизиты</span>{% endif %}
		</div>
		
		<div style="margin-top: 10px;">
			<label for="password">Пароль </label>
			<input id="password" name="password" type="password" style="width: 270px;" />
		</div>
		
		<div align="right" style="margin: 15px -15px 20px 0;">
			<span class="button"><input type="submit" value="Войти"></span>
		</div>
	</form><br/><br/>
	
	<a href="{% url recover %}" style="margin-left: 20%;">Забыли пароль?</a>
{% endblock %}

