{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Восстановление пароля{% endblock %}
{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Забыли пароль?</h2>
	
	{% if not request.POST or error %}
		<form action="" method="post">
			<p">Сообщите e-mail, под которым вы регистрировались
			и мы восстановим ваш пароль.</p>
			
			<div {% if error %}class="erroneus"{% endif %} style="width: 505px; margin-top: 30px;">
				<label for="email" style="margin-top: 3px;">Ваш <strong>e-mail</strong>:</label>
				<input id="email" name="email" type="text" value="{{ request.POST.email }}" style="width: 240px; margin: 2px;" />
				<span class="button"><input type="submit" value="Восстановить" /></span><br/>
				<span class="error">{{ error }}</span>
			</div>
		
		</form>
	{% else %}
		<p style="font-size: 1.2em;">Письмо с инструкциями ушло вам на почту.</p>
	{% endif %}
{% endblock %}

