{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Наши авторы{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2 style="padding-left: 255px; margin-bottom: 50px;">Наши авторы.</h2>
	
	<div class="authors_list">
	
		<div class="author_desc">
					
			<div class="photo">
				<img src="{{ media_url }}/images/authors/megorskaya.jpg" title="Попа ахмеда" width="150"/>
			</div>
			
			<div class="desc">
				<h3>Вера</h3>
			
				<p> Валяние из шерсти - игрушки, новогодние украшения, бижутерия, тапочки, сумочки; авторские куклы из пластика и текстиля; живопись маслом.</p>
				
			</div>
		</div>
		
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/femina.jpg" title="Попа ахмеда" width="150"/>
			</div>
			
			<div class="desc">
				<h3>Кристина Femina</h3>
			
				<p>Мастер-ювелир по пластике, декупажу и придумкам украшений из всего что под.</p>
								
			</div>
					
		</div>
		
		<div class="author_desc">
			
			<div class="photo">
				<img src="{{ media_url }}/images/authors/stabrovskaya.jpg" title="Попа ахмеда" width="150"/>
			</div>
			
			<div class="desc">
				<h3>Алёна Стабровская</h3>
			
				<p>Куклы; бижутерия из войлока и пластики; оригами, открытки и конверты, елочные украшения, картины тушью, мыло ручной работы на натуральных компонентах.</p>
								
			</div>
		
		</div>
	
	
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/bezrukova.jpg" title="Попа ахмеда" width="150"/>
			</div>
			
			<div class="desc">
				<h3>Nika_ta</h3>
			
				<p>Украшения из полимерной глины и стекла.</p>
								
			</div>
		
		</div>
		
	
		<div class="author_desc">
			
			<div class="photo">
				<img src="{{ media_url }}/images/authors/archisus_avatar.jpg" title="Попа ахмеда" width="140"/>
			</div>
			
			<div class="desc">
				<h3>archisus</h3>
			
				<p>Украшения из полимерной глины, шерсти, ткани; игрушки, шарфы, сумки из шерсти.</p>
								
			</div>
		</div>
		
		
		
		<div class="author_desc">
				
			<div class="photo">
				<img src="{{ media_url }}/images/authors/byhands.jpg" title="Попа ахмеда" width="150"/>
			</div>
	
			<div class="desc">
				<h3>Rahil</h3>
			
				<p>Аксессуары для сна.</p>
								
			</div>
	
		</div>
		
		
		
		
		
	</div>


{% endblock %}
