{% extends 'base.html' %}

{% load candy %}

{% block title %}{% firstof TITLE "Наши авторы" %}{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Наши авторы</h2>
	
	<div class="authors_list">
	
		<div class="author_desc">
					
			<div class="photo">
				<img src="{{ media_url }}/images/authors/megorskaya.jpg" width="150" alt="Вера" title="Вера"/>
			</div>
			
			<div class="desc">
				<h3>Вера</h3>
			
				<p> Валяние из шерсти - игрушки, новогодние украшения, бижутерия, тапочки, сумочки; авторские куклы из пластика и текстиля; живопись маслом.</p>
				
			</div>
		</div>
		
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/femina.jpg" width="150" alt="Крестина femina" title="Крестина femina"/>
			</div>
			
			<div class="desc">
				<h3>Кристина Femina</h3>
			
				<p>Мастер-ювелир по пластике, декупажу и придумкам украшений из всего что под рукой.</p>
								
			</div>
					
		</div>
		
		<div class="author_desc">
			
			<div class="photo">
				<img src="{{ media_url }}/images/authors/stabrovskaya.jpg" width="150" alt="Алена Стабровская" title="Алена Стабровская"/>
			</div>
			
			<div class="desc">
				<h3>Алёна Стабровская</h3>
			
				<p>Куклы; бижутерия из войлока и пластики; оригами, открытки и конверты, елочные украшения, картины тушью, мыло ручной работы на натуральных компонентах.</p>
								
			</div>
		
		</div>
		
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/bezrukova.jpg" width="150" alt="Nika_ta" title="Nika_ta"/>
			</div>
			
			<div class="desc">
				<h3>Nika_ta</h3>
			
				<p>Украшения из полимерной глины и стекла.</p>
								
			</div>
		
		</div>
		
		<div class="author_desc">
			
			<div class="photo">
				<img src="{{ media_url }}/images/authors/archisus_avatar.jpg" width="150" alt="archisus" title="archisus"/>
			</div>
			
			<div class="desc">
				<h3>archisus</h3>
			
				<p>Украшения из полимерной глины, шерсти, ткани; игрушки, шарфы, сумки из шерсти.</p>
								
			</div>
		</div>
		
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/goncharova.jpg" width="150" alt="Юлия Гончарова" title="Юлия Гончарова"/>
			</div>
			
			<div class="desc">
				<h3>Юлия Гончарова</h3>
			
				<p>Украшения и аксессуары из полимерной глины, войлока, ювелирной проволоки, текстиля.</p>
								
			</div>
					
		</div>
		
		<div class="author_desc">
				
			<div class="photo">
				<img src="{{ media_url }}/images/authors/byhands.jpg" width="150" alt="Rahil" title="Rahil"/>
			</div>
	
			<div class="desc">
				<h3>Rahil</h3>
			
				<p>Аксессуары для сна.</p>
								
			</div>
		</div>
		
		
		
		<div class="author_desc">
		
			<div class="photo">
				<img src="{{ media_url }}/images/authors/byhands.jpg" width="150" alt="ByHands.ru" title="ByHands.ru"/>
			</div>
			
			<div class="desc">
				<h3>ByHands</h3>
			
				<p>Бижутерия, игрушки, сумки, брелки, шарфы, предметы интерьера.</p>
								
			</div>
					
		</div>
	</div>


{% endblock %}
