{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Контакты{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h1>Контакты</h1>
	
	<p>По всем вопросам, касающимся работы <a href="http://byhands.ru">byhands.ru</a>, Ваших заказов, пожеланий, сотрудничества и т.д., 
	Вы можете: 
	<p>
	&bull; написать нам на электронный адрес <a href="mailto:info@byhands.ru">info@byhands.ru</a> ( желательно указать тему письма);<br/>
	&bull; позвонить по телефону 8-908-506-37-76
	
	<p>Наша группа <a href="http://vkontakte.ru/club11055407"/> <img src="{{ media_url }}/images/vkontakte.gif" width="95"  style="vertical-align: middle; margin-bottom: 5px;"/></a>
	<br/>Наш <a href="http://vkontakte.ru/id52015557">аккаунт вконтакте</a> 

{% endblock %}
