{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Персональный заказ{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Персональный заказ</h2>
	
	<p>Если вы ищете что-то особенное, чего ещё нет в нашем каталоге, или хотите приобрести то, что у нас есть, но только "с перламутровыми пуговицами", 
	то опишите желаемое <strong>как можно подробнее</strong> ( в свободной форме ) в электронном письме и пришлите нам на <a href="mailto:info@byhands.ru">info@byhands.ru</a>. </p>
	
	<p><strong>В теме</strong> письма напишите <strong>"Персональный заказ"</strong>. Можно прикрепить к письму картинку и указать как с вами можно связаться,
	 кроме электронной почты.</p>
	
	<p>Наверняка среди нас найдется мастер, который сделает для вас ту вещь, о которой вы мечтали.</p>
	
{% endblock %}
