{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Как заказать{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Как заказать то, что вам понравилось.</h2>
	
	<p><strong>НЕ нужно регистрироваться</strong> предварительно! Все регистрационные данные сохраняются в процессе оформления заказа.</p>
	
	<p> Итак, вы посмотрели фотографии вещей ручной работы в нашем магазине и хотите что-нибудь заказать.
	
	Просто кликните на вот такую кнопку <img src="{{ media_url }}/images/to_cart.gif" style="vertical-align: middle; width: 28px; height:28px; margin-bottom: 10px;"/>.
	
	<p>Вы увидите окошко с сообщением о том, что товар добавлен в корзину, и ссылкой <span style="text-decoration: underline;">оформить заказ</span>.
	 Нажмите на эту ссылку, чтобы перейти к первому шагу оформления заказа.
		
	<p>Если же вы хотите посмотреть другие товары и, возможно, заказать что-то еще, просто закройте это окно и продолжайте хождение по каталогу.
	</p>
	
	<p>Перейти к первому шагу оформления заказа можно также, если кликнуть на изображение корзины в верхнем правом углу.</p>

	<h3>Шаг №1.</h3>	
	<p>Вы зашли в корзину и видите список всего, что решили заказать.
	<p>Здесь вы можете <strong>изменить количество</strong> заказываемых товаров, а также <strong>внести пояснения</strong> для каждой заказываемой позиции. 
	<strong>Например</strong>, заказать такой шарф, но на 10 см длиннее и другого цвета. Авторы <strong>обязательно</strong> будут учитывать все пожелания,
	 и сообщать о возможности их реализции.
	<p>Если заказано все, что хотелось, смело нажимаете кнопку "Оформить заказ" и переходите на следующий шаг. При этом перед вами откроется окно с просьбой ввести
	<strong>логин и пароль</strong>. Если вы делаете заказ перый раз - нажимайте кнопку <strong>"Далее"</strong> в левой части окна. Логин и пароль вводят только те покупатели,
	 которые уже делали заказы и активировали свою учетную запись.
	
	
	<h3>Шаг №2.</h3>
	<p>Все, что вам осталось сделать, - <strong>внимательно заполнить форму</strong> с контактной информацией и нажать кнопку "Подтверждаю заказ".
	( у зарегистрированных и авторизованных пользователей есть преимущество - форма уже будет заполнена сохраненными данными ).
	
	
	<br/><br/>
	<p>После того, как вы оформите заказ, мы свяжемся с вами, чтобы уточнить его и сроки выполнения и доставки.
	
	
{% endblock %}





































