{% extends 'base.html' %}

{% load candy %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Сотрудничество</h2>
	
	<h3>Ваши работы на ByHands.ru</h3>
	
	<p>В каталоге ByHands.ru выкладываются работы мастеров, занимающихся самыми разными видами творчества, проживающие в разных городах.
	
	<p>Если вы хотите присоединиться к нашей творческой компании, просто заполните форму, которая находится немного ниже, чтобы мы узнали о вас и о том, чем вы занимаетесь,
	или присылайте информацию о себе в свободной форме на <a href="info@byhands.ru">info@byhands.ru</a>.

	<p> Мы хотим заранее предупредить, что перед тем как попасть в каталог, фотографии работ обрабатываются и модерируются
	 ( исключительно по субъективному мнению администратора сайта).
	Это делается для того, чтобы каталог "не засорялся" "ненужными" и некачественными фотографиями. Надеемся, что вы отнесетесь к этому с пониманием и без обид.
	
	
	<h3>Авторство.</h3>
	
	<p>Для каждой работы в каталоге ( при желании ) указывается автор. Список всех авторов есть в соответвующем разделе сайта.
	
	
	<h3>Хотите поделиться своими знаниями и умениями?</h3>
	
	<p>Помимо того, что вы можете выставить свои работы в каталоге, вы можете подготовить материал для раздела "Уроки". Это может быть описание процесса создания 
	какой-нибудь интересной вещи, фото- или видеоматериал.
{% endblock %}
