{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Как заказать{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Регистрация</h2>
	
	<p>Нет необходимсоти регистрироваться перед тем, как вы решили что-то заказать.</p>
	
	<p>Те контактные данные, которые вы указываете в процессе оформления вашего первого заказа и станут вашими регистрационными.
	Единственное, что вам нужно будет сделать - активировать свою учетную запись с помощью ссылки, которая будет указана в письме,
	отправленном на указанный вами электронный адрес.</p>
{% endblock %}
