{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Как заказать{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Регистрация</h2>
	
	<p style="width: 670px;">Нет необходимости регистрироваться перед тем, как вы решили что-то заказать.</p>
	
	<p style="width: 670px;">Те контактные данные, которые вы указываете в процессе оформления вашего первого заказа и станут вашими регистрационными.
	Единственное, что вам нужно будет сделать - активировать свою учетную запись по ссылке, которую мы вам отправим.</p>
{% endblock %}
