{% extends 'base.html' %}

{% load candy %}

{% block title %}{% firstof TITLE "Доставка изделий ручной работы" %}{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h1>Доставка</h1>
	
	<p>Заказанная вами вещь окажется у вас самым удобным для вас способом: курьером
	( по Ростову-на-Дону ), посылкой по почте РФ, EMS т.д. в удобное для вас время.
	
	<p>Мы свяжемся с вами, воспользовавшись той информацией, которую вы оставили при оформлении
	заказа, чтобы обсудить условия доставки.
	
	<p><strong>Доставка по Ростову осуществляется бесплатно</strong>.
	В другие города России и всего мира - в соответсвие с почтовыми тарифам.
	
	<h3>Отслеживание посылок</h3> 
	
	<p>После того, как заказ отправляется по почте, мы присылаем вам электронное письмо, в котором указываем идентификатор посылки. С помощью этого идентификатора 
	Вы можете <a href="http://www.russianpost.ru/rp/servise/ru/home/postuslug/trackingpo" target="_blank">проследить за движением посылки</a> :
	когда она была отправлена и когда доставлена на Ваше почтовое отделение.</p>
		
	

{% endblock %}
