{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Доставка{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Доставка</h2>
	
	<p>Заказанная вами вещь окажется у вас самым удобным для вас способом: курьером
	( по Ростову-на-Дону ), почтой, EMS, может быть, вам удобнее будет приехать за ней и т.д.
	
	<p>Мы свяжемся с вами, воспользовавшись той информацией, которую вы оставили при оформлении
	заказа, чтобы обсудить способ доставки.
	
	<p><strong>В связи с недавним открытием ByHands.ru доставка по Ростову осуществляется бесплатно</strong>.
	В другие города России и всего мира - в соответсвие с почтовыми тарифам.
	
	<p><i>Не все из выставленных в нашем магазине вещей ручной работы находятся в Ростове. Для некоторых из них цена указывается без стоимости доставки, например, 
	<a href="http://byhands.ru/category/clothes/poncho/">пончо</a>.<br/>
	Связано это с тем, что стоимость доставки по почте зависит от нескольких факторов, в том числе от веса, который может отличаться в зависимости от заказанного вами размера.
	Для таких товаров мы обязательно ставим пометку "цена указана без стоимости доставки". Примерную стоимость доставки в Ростов вы узнаете, когда мы свяжемся с вами 
	для уточнения и подтверждения вашего заказа.</i>

{% endblock %}
