{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Доставка{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h2>Доставка</h2>
	
	<p>Заказанная вами вещь окажется у вас самым удобным для вас способом: курьером
	( по Ростову-на-Дону ), почтой, EMS, может быть, вам удобнее будет приехать за ней и т.д.
	
	<p>Мы свяжемся с вами, воспользовавшись той информацией, которую вы оставили при оформлении
	заказа, чтобы обсудить способ доставки.
	
	<p>В связи с недавним открытием ByHands.ru доставка по Ростову осуществляется <strong>бесплатно</strong>.
	В другие города россии и всего мира - в соответсвие с почтовыми тарифам.
{% endblock %}
