{% extends 'base.html' %}

{% load candy %}

{% block title %}ByHands.ru Доставка{% endblock %}

{% block left_navigation %}{% categories_tree %}{% endblock %}

{% block content %}
	<h1>Сервисное обслуживание</h1>
	
	<p>&bull; Если вдруг с вещью, которую выкупили, НЕ в результате неправильной эксплуатации случилась какая-то неприятность ( например, порвалась нить бус, сломался замочек ),
	мы обязательно все починим/подошьём.
	
	<p>&bull; Если например, вы купили у нас кулон, но подумали, что было бы замечательно сантиметров на пять цепочку удлинить/укоротить, тоже не стесняйтесь к нам обратиться.
	
	<p>Мы заинтересованы в вашем хорошем настроении, полученном от наших работ.
	
	<p>Все что вам нужно сделать - связаться с нами, воспользовавшись <a href="http://byhands.ru/contacts">контактными данными</a>.
	
	
	 
	 
	 
	 
	 
	 
	 
	 
	 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
{% endblock %}
