<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>ByHands.ru</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<link rel="stylesheet" href="{{ media_url }}/css/store.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/common.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/navigation.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/forms.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/fancybox.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/boxy.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="{{ media_url }}/css/articles.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		{% block css %}{% endblock %}
		
		<!--[if lte IE 6]>  
			<style type="text/css">  
				#logo {  
        				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/logo_1.png', sizingMethod='scale');  
				}  
				#logo img { display:none; }; 

				#top_nav {  
        				filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/scotch.png', sizingMethod='scale');
				}

			</style>
		<![endif]-->
		
		<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="{{ media_url }}/js/lib/livequery.js"></script>
		<script type="text/javascript" src="{{ media_url }}/js/lib/jquery.boxy.js"></script>
		<script type="text/javascript" src="{{ media_url }}/js/account.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('#login').click(function() {
					Account.loginForm('{% url login %}?next='+window.location.pathname, '{% url recover %}');
					return false;
				});
			});
		</script>
		
		{% block js %}{% endblock %}
	</head>

	<body>
		<div id="main" align="center">
			<div id="head">
				
				<div id="logo"><a href="http://byhands.ru"><img src="{{ media_url }}/images/logo_1.png" title="ByHands.ru" /></a></div>
				
				<div id="auth">
					{% if request.user.is_authenticated %}
						<span>Здравствуйте, <strong>{{ request.user.username }}</strong> !</span>
						
						<ul style="margin-top: 4px;">
							<li class="first"><a href="{% url profile %}">профиль</a></li>
							<li><a href="{% url candy-orders %}" style="font-size: 1.2em;">заказы</a></li>
							<li><a href="{% url logout %}">выйти</a></li>
						</ul>
					{% else %}
						<ul>
							<li class="first"><a id="login" href="#" style="font-size: 1.2em;">войти</a></li>
							<li><a href="{% url recover %}">вспомнить пароль</a></li>
						</ul>
					{% endif %}
				</div>

				<div id="top_nav">
					<ul>
						<li><a href="/shop/" class="{% ifequal request.path "/shop/" %}active{% endifequal %}"" title="Магазин">магазин</a></li>
						<li><a href="{% url authors %}" title="Авторы">авторы</a></li>
						<li><a href="{% url blogposts slug="lessons" %}" title="Уроки">уроки</a></li>
						<li><a href="{% url blogposts slug="blog" %}" title="Блог"> блог</a></li>
					</ul>
				</div>
				
				<div style="width: 1150px; float: right;">
					<div id="find" style="background: none;">
						<!--<form id="search_form">
							<input type="text" name="keyword" /> <input height="25" type="image" src="{{ media_url }}/images/find_button.gif" id="find_button"/>
						</form>-->
					</div>
					
					{% block cart-info %}<div id="cart">
						{% if cart.price %}
							<span>{{ cart.price }} р.</span>
							<a href="{% url candy-cart %}"><img src="{{ media_url }}/images/cart_with_price.gif" title="Корзина" style="margin-right: -95px;" /></a>	
						{% else %}
							<span>&nbsp;</span>
							<a href="{% url candy-cart %}"><img src="{{ media_url }}/images/cart_empty.gif" title="Корзина" style="margin-right: 50px;"/></a>
						{% endif %}
					</div>{% endblock %}
				</div>

			</div>
			
			<div style="clear: both;"></div>
			
			<div id="main_content">
				<!-- left side -->
				<div id="left_side">
					
					<ul id="left_nav">{% block left_navigation %}{% endblock %}</ul>

					<div id="personal_order">
						<img src="{{ media_url }}/images/personal_order.gif" style="float:left;"/>
						<a href="{% url individual-order %}">персональный<br/>заказ</a>
					</div>
	
				</div>
				<!-- end of left side -->
				
				<!-- central part -->
				<div id="central_part">
					{% block content %}{% endblock %}
				</div>
				<!-- end of central part -->
				
			</div>
			<!-- end of main content -->			

			<div style="clear: both;"></div>

			<div id="footer">
				<ul id="footer_links">
					<li class="xl"><a href="{% url how-to-order %}">Как заказать</a>
					<li class="s"><a href="{% url shipping %}">Доставка</a>
					<li class="l"><a href="{% url contactus %}">Сотрудничество</a>
					<li class="xxl"><a href="{% url contacts %}">Контакты</a>
				</ul>
			</div>
			
		</div>
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-15060694-1");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		
	</body>
</html>
